<form name="myForm" enctype="multipart/form-data">
	<fieldset>
		<legend>Upload on form submit</legend>
		<br>Photo:
		<input  type="file"
				ngf-select
				ng-model="settingsCtrl.picFile"
				name="avatar"    
				accept="image/*"
				ngf-max-size="2MB">
		<br>
		<img ng-show="settingsCtrl.myForm.file.$valid"
			 ngf-thumbnail="settingsCtrl.picFile"
			 class="thumb">
		<button ng-click="settingsCtrl.picFile = null"
				ng-show="settingsCtrl.picFile">
			Remove
		</button>
		<br>
		<button ng-click="settingsCtrl.uploadPic()">
			Submit
		</button>
	</fieldset>
	<br>
</form>

<div>

    <md-input-container>
        <label>Name</label>
        <input ng-model="settingsCtrl.input.name">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="settingsCtrl.onFormSubmit()">
        <span class="text">Save Changes</span>
    </md-button>

</div>

<md-button class="md-raised md-primary"
    ng-click="settingsCtrl.loadSavedStories()">
    Load stories
</md-button>

<div ng-repeat="story in settingsCtrl.savedStories">{{story}}</div>