<form name="loginCtrl.signInForm"
      novalidate
      autocomplete="off"
      ng-submit="loginCtrl.signIn()">

    <div>
        <header>
            <p><span>SignIn</span></p>
        </header>

        <div>
            <label>Login</label>
            <input type="text"
                   placeholder="Enter Login"
                   required
                   ng-model="loginCtrl.input.login">
        </div>
        <div>
            <label>Password</label>
            <input type="password"
                   placeholder="Enter Password"
                   required
                   ng-model="loginCtrl.input.password">
        </div>
        <div>
            <md-button class="md-raised md-primary" type="submit">
                <span class="text">SignIn</span>
            </md-button>
        </div>
    </div>

</form>

<button ng-click="loginCtrl.signInWithGitHub()">Sign In With GitHub</button>

<hr>

<form name="loginCtrl.signUpForm"
      novalidate
      autocomplete="off"
      ng-submit="loginCtrl.signUp()">

    <div>
        <header>
            <p><span>SignIn</span></p>
        </header>

        <div>
            <label>Login</label>
            <input type="text"
                   placeholder="Enter Login"
                   required
                   ng-model="loginCtrl.input.name">
        </div>
        <div>
            <label>Password</label>
            <input type="password"
                   placeholder="Enter Password"
                   required
                   ng-model="loginCtrl.input.password">
        </div>
        <div>
            <button type="submit">
                <span class="text">SignUp</span>
            </button>
        </div>
    </div>

</form>

<input type="button" ng-click="loginCtrl.signUpWithGinhub()">
