<form name="loginCtrl.signInForm"
      novalidate
      autocomplete="off"
      ng-submit="loginCtrl.signIn()">

    <div>
        <header>
            <h2>Sign In</h2>
        </header>

        <md-input-container>
            <label>Login</label>
            <input ng-model="loginCtrl.input.name"
                required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="loginCtrl.input.password"
                required>
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">
            <span class="text">Sign In</span>
        </md-button>

        <md-button class="md-raised md-primary"
            ng-click="loginCtrl.signInWithGitHub()">
            Sign In With GitHub
        </md-button>
    </div>

</form>

<br>
<br>

<md-divider md-inset></md-divider>


<br>
<br>

<form name="loginCtrl.signUpForm"
      novalidate
      autocomplete="off"
      ng-submit="loginCtrl.signUp()">

    <div>
        <header>
            <h2>Sign Up</h2>
        </header>

        <md-input-container>
            <label>Login</label>
            <input ng-model="loginCtrl.input.name"
                required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="loginCtrl.input.password"
                required>
        </md-input-container>
        <md-button type="submit"
            class="md-raised md-primary">
            <span class="text">SignUp</span>
        </md-button>

        <md-button type="button"
            class="md-raised md-primary"
            ng-click="loginCtrl.signUpWithGinhub()">
            Sign up with github
        </md-button>
    </div>

</form>

<br>
<br>

<md-divider md-inset></md-divider>


<br>
<br>

<md-button type="button"
    class="md-raised md-primary"
    ng-click="loginCtrl.getMe()">
    Get me
</md-button>

<md-button type="button"
    class="md-raised md-primary"
    ng-click="loginCtrl.logOut()">
    Log out
</md-button>

